#content {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
    font-size: 18px;

    line-height: 1.5;
    text-align: justify;
}

#header {
    font-family: monospace;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 100px;
    letter-spacing: 20px;
}

#footer {
    font-size: 12px;
    text-align: center;
    margin-top: 80px;
}

div.footnotes {
    font-size: 14px;
}

li {
    margin-bottom: 20px;
}

h1.title {
    font-family: sans-serif;
    font-size: 30px;
}

h1 {
    font-family: sans-serif;
    font-size: 24px;
    margin-top: 40px;
}

h2 {
    font-family: sans-serif;
    font-size: 22px;
}

h3,h4,h5,h6 {
    font-family: sans-serif;
}

a:link, a:visited {
    text-decoration: none;
    color: #478A9E;
}

a:hover {
    color: #2FACAD;
}

a:link.site-title, a:visited.site-title {
    text-decoration: none;
    color: #57697b;
}

a:hover.site-title {
    color: #2FACAD;
}

img.nav-icon {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 30px;
    height: 30px;
}

ul.link-list {
    list-style: none;
    padding-left: 0;
    line-height: 1.8;
}
